<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
	{%load static%}
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/sc-style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body class="body-main">
    <div class="navbar-main">
        <div class="logo"><a href="{% url 'index' %}" class="index-link"><img src="../../static/assets/logoBlancoNegro.png" alt="logo" height="60px">BWE</a></div>
        <div class="acnt">
            <div class="item inic"><a href="{% url 'login' %}" class="index-link ses">Iniciar Sesión</a></div>
            <div class="item crea"><a href="{% url 'register' %}" class="index-link ses">Crear cuenta</a></div>
        </div>
    </div>

    <div class="lateral-bar">
        <div><a href="{% url 'index' %}"><img src="../../static/assets/casa.png" alt="" width="30px"></a></div>
        <div><a href="{% url 'explorer' %}"><img src="../../static/assets/explorador.png" alt="" width="30px"></a></div>
        <div><a href="{% url 'shoppingcart' %}"><img src="../../static/assets/carro-de-la-carretilla.png" alt="" width="30px"></a></div>
    </div>

    <div class="bottom-bar">
        <div><a href="{% url 'index' %}"><img src="../../static/assets/casa.png" alt="" width="30px"></a></div>
        <div><a href="{% url 'explorer' %}"><img src="../../static/assets/explorador.png" alt="" width="30px"></a></div>
        <div><a href="{% url 'shoppingcart' %}"><img src="../../static/assets/carro-de-la-carretilla.png" alt="" width="30px"></a></div>
    </div>

    <main class="page">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="items">
                                <div class="product">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-fluid mx-auto d-block image" src="../../static/assets/NewJeans 2nd EP - Get Up (The POWERPUFF GIRLS X NJ Box Version) - A.jpeg">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-md-5 product-name">
                                                        <div class="product-name">
                                                            <a href="#">NewJeans 2nd EP ‘Get Up’ (The POWERPUFF GIRLS X NJ Box ver.) </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 quantity">
                                                        <label for="quantity">Quantity:</label>
                                                        <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                    </div>
                                                    <div class="col-md-3 price">
                                                        <span data-unit-price="31.99">$31.99</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-fluid mx-auto d-block image" src="../../static/assets/Newjeans Album-get up.jpeg">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-md-5 product-name">
                                                        <div class="product-name">
                                                            <a href="#">NewJeans 2nd EP 'Get Up' (Bunny Beach Bag ver.) </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 quantity">
                                                        <label for="quantity">Quantity:</label>
                                                        <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                    </div>
                                                    <div class="col-md-3 price">
                                                        <span data-unit-price="31.99">$31.99</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-fluid mx-auto d-block image" src="../../static/assets/Newjeans weverse album.jpeg">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-md-5 product-name">
                                                        <div class="product-name">
                                                            <a href="#">NewJeans 1st EP ‘New Jeans’ </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 quantity">
                                                        <label for="quantity">Quantity:</label>
                                                        <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                    </div>
                                                    <div class="col-md-3 price">
                                                        <span data-unit-price="31.99">$31.99</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Summary</h3>
                                <div class="summary-item subtotal"><span class="text">Subtotal</span><span class="price">$0.00</span></div>
                                <div class="summary-item"><span class="text">Discount</span><span class="price">$0.00</span></div>
                                <div class="summary-item"><span class="text">Shipping</span><span class="price">$0.00</span></div>
                                <div class="summary-item total"><span class="text">Total</span><span class="price">$0.00</span></div>
                                <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap@5.3.3/js/bootstrap.min.js"></script>
    <script src="../../static/js/shoppingcart.js"></script> 
</body>
</html>
